@model IEnumerable<Ansiktsburk.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach(Post post in Model)
    {
        <div>
            @post.Body
        </div>
        <div>
            @post.Author
        </div>
        <div>
            @post.Timestamp
        </div>
    }
</div>
